.with-aside {
  > main {
    flex: 1;
    .options {
      width: 100%;
    }
    > form {
      width: 0;
    }
  }
}

#aside-services {
  flex-direction: column;
  background-color: var(--gray-12);
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 50px;
  max-height: calc(100vh - 140px);
  transition: all 0.2s ease-in-out;
  header {
    font-size: 32px;
    color: var(--dark-0);
    justify-content: center;
    padding: var(--space);
    margin-top: calc(var(--space) * 2);
    display: none;
  }
  section {
    display: none;
    flex: 1;
    align-items: flex-start;
    padding: var(--space);
    overflow: auto;
    table {
      width: 100%;
      .price {
        text-align: right;
      }
      td {
        border-top: var(--gray-3) 1px solid;
        padding: var(--space) 0;
      }
      tr:last-child {
        td {
          border-bottom: var(--gray-3) 1px solid;
        }
      }
    }
  }
  footer {
    height: 50px;
    padding: var(--space);
    justify-content: space-between;
    align-items: center;
    color: var(--dark-0);
    font-size: 18px;
    border-top: var(--gray-3) 1px solid;
    border-bottom: var(--gray-3) 1px solid;
    .total {
      font-weight: bold;
      margin-left: var(--space);
    }
    button {
      @include button;
      min-width: 50px;
      svg {
        width: 24px;
        height: 24px;
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
  &.open {
    height: 100%;
    header,
    section {
      display: flex;
    }
    footer {
      button {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  #aside-services {
    position: fixed;
    right: 0;
    max-height: initial;
    height: calc(100vh - 119px);
    width: 375px;
    z-index: 2;
    top: 118px;
    bottom: initial;
    &.open {
      height: calc(100vh - 119px);
    }
    header,
    section {
      display: flex;
    }
    footer {
      height: 80px;
      > button {
        display: none;
      }
      > div {
        width: 100%;
        justify-content: space-between;
        font-size: 22px;
        .total {
          font-size: 29px;
        }
      }
    }
  }
}
